<?xml version="1.0"?>

<model>
  <name>CamBurger</name>
  <version>2.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    TurtleBot3 Burger with External Camera sensor to be used for line following, also 
    maybe added features for object detection, hand-gesture tracking, and obstacle avoidance
    as a part of path-planning
  </description>
</model>
