<?xml version =  "1.0" encoding="UTF-8"?>

<model>

  <name>track_2</name>
  <version> 1.0 </version> 
  <sdf version="1.5">model.sdf</sdf> 

  <author>
    <name>Hung Vo</name>
    <email>voht@mail.uc.edu</email>
  </author>

  <description>
    Course Floor image for Line Following
  </description>

</model>

